<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PizzaBuilder-WatchOS WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PizzaBuilder-WatchOS WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PizzaBuilder-WatchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47C9DB241CD6C2F1004A0234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47C9DB381CD6C2F2004A0234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47C9DB431CD6C2F2004A0234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47C9DB4C1CD6C2F2004A0234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
